*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

nav{
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0px 100px;
    position: fixed;
    background: linear-gradient(0deg, rgb(248, 238, 223) 0%, rgb(255, 255, 255) 100%);
    font-family: PT Serif;
}
.logo{
   font-size: 30px;
   font-weight: bold;
   float:left;
   text-transform: uppercase;
   letter-spacing: 0.5px;
   cursor: pointer;
   color:black; 
   
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 20px;
    color:black;
    text-decoration: none;
}
nav li a:hover{
    transition: all 0.4% ease;
    border-radius: 40px;
    background-color: #ef1b03;
    padding:10px 20px;
    color: aliceblue;
    
}
.container{
    display: flex;
    padding: 30px 200px;
    
}
.Image img{
  width: 300px;
  height: 300px;
  overflow: hidden;
  background-position:center;
  background-size: cover;
  box-sizing: border-box;
  border-radius: 10px;
}
.Image img:hover{
    cursor: pointer;
   
}
.Image{
    max-width: 400px;
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: bolder;
}

.content{
padding-left: 50px;
flex: 1 0;
font-size: larger;
font-family: "Merriweather",serif;
color: whitesmoke;
}
.title{
    padding-top: 30px;
    margin-top: 20px;
    font-family:"Merriweather",serif;
}
.Main{
   padding-top: 50px;
   background-color: rgba(30, 67, 86, 0.8);
   
}

#preloading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#fff url(765.png) no-repeat center ;
    z-index: 99999;
    margin-top: 50px;
    display: block;
}
#link{
    margin-left: 5px;
    background-color: bisque;
    border-radius: 15px;
    padding: 5px;
    color: black;
}
 